@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
}

/* Header */
header {
    text-align: center;
    padding: 3rem 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 1.5s, color 1.5s;
}

header h1 {
    font-size: 3rem;
    color: #000;
    margin-bottom: 0.5rem;
}
header p {
    font-size: 1.25rem;
    color: #666;
}

/* Main Content */


/* Game Section */

.game-section {
    display: flex;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 1rem);
    max-width: calc(33.333% - 1rem);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}


body {
    font-family: sans-serif;
    text-align: center;
}

#paperImage {
    max-width: 300px;
    height: auto;
}

/*footer*/
/* Header Styles */
header {
    text-align: center;
    padding: 3rem 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 1.5s, color 1.5s;
}

header h1 {
    font-size: 3rem;
    color: #000;
    margin-bottom: 0.5rem;
}



.header.body.dark-mode h1 {
    font-size : 3rem;
    color: #fff;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.25rem;
    color: #666;
}

/* Container Styles */
.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

/* Section Styles */
section {
    margin-bottom: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #111;
    text-align: center;
}

/* Section Content */
.section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

/* Card Styles */
.card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 1rem);
    max-width: calc(33.333% - 1rem);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}
